<%= turbo_frame_tag page do %>
  <div class="page-card">
    <p class="my-5"><strong class="block font-bold mb-1 text-3xl"><%= page.title %></strong></p>
   <p class="my-5"><strong class="block font-medium mb-1"><%= page.body %></strong></p>
    <div class="page-actions">
      <%= link_to "Edit", edit_page_path(page), class: "mr2", data: { turbo_frame: dom_id(page) } %>
      <%= button_to "Delete", page, method: :delete, class: "btn-danger", form: { data: { turbo_confirm: "Are you sure?" } } %>
    </div>
  </div>
<% end %>